<!-- Header Section -->
<header>
    <!-- Top Navigation -->
    <div class="bg-white border-bottom py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                <a href="/" class="navbar-brand">
                    <img src="logo-placeholder.png" alt="Online Library - Home " width="150">
                </a>
            </div>

            <div class="d-flex align-items-center">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="me-2">
                        <i class="fas fa-user"></i> {{ app.user.getName() }}
                    </div>
                {% endif %}

                <!-- Newsletter Button -->
                <a href="#" class="btn btn-outline-primary me-2">
                    <i class="fas fa-envelope-open-text"></i> Newsletter
                </a>

                <!-- Login/Logout Link -->
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline-success">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Main Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="librariansDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            For Librarians
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="librariansDropdown">
                            <li><a class="dropdown-item" href="/catalog">Catalog</a></li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <a href="{{ path('app_profile_edit') }}" class="dropdown-item">Edit Profile</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_book_add') }}" class="dropdown-item">Add new book</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">Metadata</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="publishersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            For Publishers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="publishersDropdown">
                            <li><a class="dropdown-item" href="#">Join - Publishers</a></li>
                            <li><a class="dropdown-item" href="#">Services - Publishers</a></li>
                            <li><a class="dropdown-item" href="#">Peer Review Policies</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="researchersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            For Researchers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="researchersDropdown">
                            <li><a class="dropdown-item" href="#">Annotation</a></li>
                            <li><a class="dropdown-item" href="#">Peer Review Policies</a></li>
                            <li><a class="dropdown-item" href="#">Rights and Licences</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="navbar-nav ms-auto">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                For Administrators
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                                <li><a class="dropdown-item" href="#">Admin Panel</a></li>
                                <li><a class="dropdown-item" href="/users">Users</a></li>
                                <li><a class="dropdown-item" href="#">Statistics</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                            <li><a class="dropdown-item" href="#">Reports</a></li>
                            <li><a class="dropdown-item" href="#">OA Books Toolkit</a></li>
                            <li><a class="dropdown-item" href="#">Blog</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
