{% extends 'base.html.twig' %}

{% block title %} Add New Book {% endblock %}

{% block body %}
    <h3>Add New Book</h3>

    {{ form_start(form) }}
    <div>{{ form_errors(form) }}</div>

    <div>{{ form_label(form.title, 'Title') }}</div>
    <div>{{ form_widget(form.title, {'attr': {'style': 'color: blue'}}) }}</div>

    <div>{{ form_label(form.author, 'Author') }}</div>
    <div>{{ form_widget(form.author, {'attr': {'style': 'color: blue'}}) }}</div>

    <div>{{ form_label(form.genre, 'Genre') }}</div>
    <div>{{ form_widget(form.genre, {'attr': {'style': 'color: blue'}}) }}</div>

    <div>{{ form_label(form.description, 'Description') }}</div>
    <div>{{ form_widget(form.description, {'attr': {'style': 'color: blue'}}) }}</div>

    {{ form_row(form.submit, {'label': 'Add Book'}) }}

    {{ form_end(form) }}

{% endblock %}
