{% extends 'base.html.twig' %}

{% block title %} Book - {{ book.title }} {% endblock %}

{% block body %}
    <h3>{{ book.title }}</h3>
    <div>Author: {{ book.author }}</div>
    <div>Genre: {{ book.genre }}</div>
    <div>Description: {{ book.description }}</div>

    <a href="{{ path('app_book_edit', { id: book.id }) }}" class="btn btn-primary">Edit Book</a>
{% endblock %}
